# Ignore node_modules directory
node_modules/

# Ignore built TypeScript files
dist/

# Ignore environment-specific configuration files
.env

# Ignore any logs or temporary files
*.log
*.pid
*.seed

# Ignore macOS file system metadata
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore npm debugging logs
npm-debug.log*

# Ignore yarn's lockfile
yarn.lock

# Ignore dependency directories
/pnpm-store
.pnpm

# Ignore TypeScript configuration file
# tsconfig.json

# Ignore JavaScript source maps
*.js.map

# Ignore local development environment configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore editor specific files
.idea/
*.suo
*.ntvs*

# Ignore Jest coverage output
coverage/

# Ignore Cypress video files
cypress/videos/
